
.home{
  position: relative;
width: 1440px;
height: 1500px;

/* Light/Primary Color/10% */

background: #F4F7F8;
}



.navbar-brand {
    position: absolute;
    width: 152px;
    height: 47px;
    left: 94px;
    top: 25px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #F86338;
  }

  .navbar {
    position: absolute;
    width: 1440px;
    height: 205px;
    left: 0px;
    top: 0px;
  }

  .navbar-nav {
    height: 20px;
    width: 60px;
    left: 100px;
    align-content: flex-end;
    border-radius: 0px;
  }
  
  .form-control {
    width: 590px;
    height: 50px;
  }
  
  .subnavbar {
    width: auto;
    height: 50px;
  }

.hero-container{
position: absolute;
width: 1440px;
height: 640px;
left: 0px;
top: 205px;

/* Light/Base Color/White */

background: #FFFFFF;
  }

  .h1{
    /* Your Premium Sound, Unplugged! */


position: absolute;
width: 593px;
height: 154px;
left: 728px;
top: 260px;

/* Display/Display Bold */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* or 77px */

letter-spacing: 0.003em;

/* Light/Text Color/Title */

color: #11142D;
  }
  .paragraph{
    position: absolute;
width: 612px;
height: 40px;
left: 728px;
top: 450px;

/* Body/Body 1 Regular */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* or 20px */

letter-spacing: 0.005em;

/* Light/Text Color/Body 1 */

color: #515151;
  }

.button-btn{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 24px;
gap: 10px;

position: absolute;
width: 156px;
height: 50px;
left: 728px;
top: 520px;

/* Light/Secondary Color/50% */

background: #F86338;
border-radius: 8px;
  }
  .btn-text{
    width: 108px;
height: 19px;

/* Menu/Menu 1 Bold */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

text-align: center;
letter-spacing: 0.005em;

/* Light/Text Link Color/White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
  }

.categories-container{
  /* Categories Shop */


position: absolute;
width: 1232px;
height: 1247px;
left: 104px;
top: 755px;
}

.categories-text{
  /* Our Premium Collection */


position: absolute;
width: 561px;
height: 58px;
left: 370px;
top: 95px;

/* Heading/H2 Bold */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}
.category{
  position: absolute;
height: 29px;
top: 190px;


/* Heading/H5 Bold */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

letter-spacing: 0.008em;

}


.card-container{
  position: absolute;
width: 1200px;
height: 510px;
left: 104px;
top: 950px;

/* Light/System Background/Primary */

 background: #FFFFFF;
} 
.card-title{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  
}